# MAIN SETTINGS
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
CORS_ORIGINS=http://localhost:8000
DEBUG=True

# DB SETTINGS
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432
DB_HOST=localhost

# KAFKA SETTINGS
KAFKA_SERVER=localhost:9092
KAFKA_TOPIC=Test-topic
TRANSACTIONAL_ID=PD-SERVICE
KAFKA_ACKS=all
